nav {
    background-color: rgb(245, 133, 99, .3);
    padding: 8px 30px;
    height: auto;
    position: sticky;
    width: 100;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
        li {
            a {

            color: rgb(126, 139, 5);text-decoration: none;
                        font-size: 1.2rem;
              }

           }
       }
    ol {
        text-decoration: none;
        list-style: none;
        font-size: 1.5rem;
        }
  
}
