//variables globales

//colors
$maincolor: rgb(129, 11, 240);
$secondarycolor: hsl(271, 76%, 53%);
$terciarycolor: rgb(164, 85, 238);
$paragraphfcolor: rgb(83, 16, 16);

//fonts

$mainfont:'Rubik', sans-serif;

//sizing

$textS: 2.3rem;
$textM: 2.5rem;
$textL: 2.8rem;